@keyframes thing_float
{
  0% { transform:translate(30px, 10px) rotate(45deg); }
  50% { transform:translate(30px, 20px) rotate(45deg); }
  100% { transform:translate(30px, 10px) rotate(45deg); }
}

.thing
{
  position:absolute;
  overflow:hidden;
  display:block;
  width:64px;
  height:64px;
}

.thing_21
{
  display:inline-block;
  width:21px;
  height:21px;
  background:#ead94c;
  background:linear-gradient(to bottom, #ead94c 0%,#ead94c 50%,#d7c745 50%,#d7c745 100%);
  transform-origin:0px 0px;
  transform:translate(30px, 15px) rotate(45deg);
  border-radius:5px 5px;

  animation-name:thing_float;
  animation-duration:2s;
  animation-iteration-count:infinite;
}

.thing_22
{
  background-size:100% 100%;
}

.thing_23
{
  background-size:100% 100%;
}
