body
{
  position:absolute;
  overflow:hidden;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  margin:0px;
  background-color:black;
  color:white;
  font-size:0px;
  white-space:nowrap;
}

#wrapper
{
  transform:translate3d(0, 0, 0);
  position:absolute;
  overflow-hidden;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  font-height:0px;
}

#console
{
  position:absolute;
  overflow:hidden;
  top:5%;
  left:5%;
  width:90%;
  height:90%;
  box-sizing:border-box;
  border:6px solid #e28809;
  border-radius:10px;
  padding:5px;
  background-color:#000;
  text-align:left;
}

@keyframes flash_cursor
{
  0% { opacity:0; visibility:hidden; }
  50% { opacity:1; visibility:visible; }
  100% { opactiy:0; visibility:hidden; }
}

#cursor
{
  animation-name:flash_cursor;
  animation-duration:1.2s;
  animation-iteration-count:infinite;
}

#title
{
  position:absolute;
  overflow:hidden;
  top:10px;
  left:0px;
  width:100%;
  padding:5px;
  background-color:#000;
  text-align:center;
}

#backstory
{
  position:absolute;
  top:450px;
  left:5%;
  width:90%;
  white-space:normal;
}

#backstory .block
{
  width:3px;
  height:3px;
}

#background
{
  background:linear-gradient(to bottom, #000000 0%,#2a5298 100%);
}

#ui
{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  text-align:center;
}

.star
{
  position:absolute;
  display:inline-block;
  width:1px;
  height:1px;
  background-color:white;
}
