body
{
  position:absolute;
  left:0px;
  top:0px;
  margin:0px;
  overflow:hidden;
  width:100%;
  height:100%;
  background-color:black;
  color:white;
  font-size:0px;
  white-space:nowrap;
}

#wrapper
{
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  -ms-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  overflow-hidden;
  margin:0px;
  padding:0px;
  font-height:0px;
}

#debug
{
  position:absolute;
  color:white;
  background:black;
  font-size:50px;
}

#background
{
  background: -moz-linear-gradient(top, #000000 0%, #2a5298 100%);
  background: -webkit-linear-gradient(top, #000000 0%,#2a5298 100%);
  background: linear-gradient(to bottom, #000000 0%,#2a5298 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2a5298',GradientType=0 );
}

.star
{
  position:absolute;
  display:inline-block;
  width:1px;
  height:1px;
  background-color:white;
}
